version: "3.8"

services:
  # МИКРОСЕРВИСЫ
  smart-home-command-service:
    build: ./smart-home-command-service
    container_name: smart-home-command-service
    ports:
      - "9092:9092"
      - "8084:8084"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - GRPC_SERVER_PORT=9092
      - SERVER_PORT=8084
    networks:
      - microservices-net

  smart-home-analytics-service:
    build: ./smart-home-analytics-service
    container_name: smart-home-analytics-service
    ports:
      - "9091:9091"
      - "8083:8083"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - GRPC_SERVER_PORT=9091
      - SERVER_PORT=8083
      - GRPC_CLIENT_COMMAND_SERVICE_ADDRESS=static://smart-home-command-service:9092
    depends_on:
      - smart-home-command-service
    networks:
      - microservices-net

  smart-home:
    build: ./smart-home
    container_name: smart-home
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/smart_home
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_RABBITMQ_HOST=rabbitmq
      - GRPC_CLIENT_ANALYTICS_SERVICE_ADDRESS=static://smart-home-analytics-service:9091
      - GRPC_CLIENT_COMMAND_SERVICE_ADDRESS=static://smart-home-command-service:9092
      - SERVER_PORT=8080
    depends_on:
      - smart-home-analytics-service
      - smart-home-command-service
    networks:
      - microservices-net

  smart-home-audit-service:
    build: ./smart-home-audit-service
    container_name: smart-home-audit-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8081
    networks:
      - microservices-net

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8082
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true